<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>PLACE I</h4>
                <p>

                </p>
            </div>

            <div class="col-lg-4">
                <h4>PLACE II</h4>
            </div>

            <div class="col-lg-4">
                <h4>PLACE III</h4>
            </div>
        </div>

    </div>
</div>