{% extends "StefGastouderMarjoleinBundle::freelayout.html.twig" %}

{% block htmlbody %}

    <div class="container">
        <div class="row">
            <div class="index-slider">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item"><img src="/assets/img/masthead/books.jpg" alt="Een selectie kinderboeken"></div>
                    <div class="item"><img src="/assets/img/masthead/haru1.jpg" alt="Spelen met Winey the Pooh"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt">

        <div class="row mt">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <h1>Gastouder Marjolein in Dordrecht</h1>
                <p>Aan het eind van 2015 komt er in de Zuid-Hollandse plaats Dordrecht een nieuwe gastouder bij. Op dit moment ben ik nog bezig om de juiste certificeringen te krijgen maar als ik alles heb behaald wil ik het liefste zo snel mogelijk beginnen als gastouder.</p>
                <p>Nog voordat ik begon met <strong>Gastouder Marjolein</strong> wilde ik niets liever dan werken met kinderen. Het doen van activiteiten en oppassen op kinderen zat er bij mij al vroeg in. En iedereen weet het, als je van je hobby je beroep maakt hoef je nooit meer te werken!</p>
            </div>
        </div>

        <div class="row mt">
            <div class="col-lg-6">
                <h2>November 2015 beschikbaar</h2>
                <p>De planning is om in november 2015. Mocht alles in een stroomversnelling komen, dan bent u natuurlijk de eerste die het weet! Tenminste, als u de website in de gaten houd! Uiteraard zal er tegen die tijd een <a href="http://gastoudermarjolein.nl/kosten">marktconform tarief</a> gaan gelden voor mijn diensten.</p>
            </div>

            <div class="col-lg-6">
                <h2>Dag en nacht</h2>
                <p>Als gastouder bied ik de mogelijkheid om ook kinderen te laten overnachten. Mocht dat nodig zijn wordt dit in goed overleg op elkaar afgestemd.</p>
            </div>
        </div>

        <div class="row mt">
            <div class="col-lg-6">
                <h2>EHAK</h2>
                <p>Sinds halverwege 2014 ben ik in het bezit van een certificaat <strong>Eerste hulp aan Kinderen</strong>. De cursus en de toetsing is gedaan door een Oranje Kruis goedgekeurde EHBO vereniging. Uiteraard zorg ik ervoor dat in huis alles kindvriendelijk is opgezet, maar kinderen kunnen zich altijd bezeren</p>
            </div>

            <div class="col-lg-6">
                <h2>De Staart</h2>
                <p>Een gastouder zonder mooie locatie is als cola zonder prik. Als alles straks gaat beginnen heb ik waarschijnlijk een van de mooiste locaties! De wijk <strong>De Staart</strong> in <strong>Dordrecht</strong> ligt tegen de Biesbosch aan. De wijk is zeer rustig en achter ons huis loopt een wandelpad naar een parkje. Hier kunnen we bij mooi weer lekker naar buiten.</p>
            </div>
        </div>

        <div class="row mt">
            <div class="col-lg-6">
                <h2>Helpende zorg en Welzijn</h2>
                <p>Een goede gastouder zorgt ervoor dat alle kennis in huis is. Verzorgen in het algemeen maar ook het verzorgen voor kinderen in het bijzonder. Naast EHAK ben ik daarom ook bezig met de opleiding <strong>helpende zorg en welzijn</strong>. Dit moet eind van dit jaar tot een positief resultaat komen zodat ik eind in 2015 kan beginnen met mijn onderneming.</p>
            </div>

            <div class="col-lg-6">
                <h2>Kinderen en dieren</h2>
                <p>Veel kinderen vinden dieren leuk en zijn helemaal in hun element met een beestje met een hoog knuffelgehalte. Als uw kind ook zo'n kind is, dan zijn ze bij <strong>Gastouder Marjolein</strong> aan het juiste adres. Ons huisdier is een hond dat erg goed is met kinderen en hen het vergeeft als ze iets te hardhandig zijn met een contact. Lieve is daarom erg geschikt om jonge kinderen om kennis te maken met dieren.</p>
            </div>
        </div>

    </div>

{% endblock %}