<section id="post-134" class="post-134 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-new-work category-other-destinations">
    <article>
        <header class="entry-header">
            <h2 class="entry-title">
                Gestart in 2015
            </h2>
        </header>

        <div class="entry-content clearfix">
            <p>
                In 2015 is er in Zuid-Hollandse plaats <strong>Dordrecht</strong> een nieuwe gastouder bijgekomen. De afgelopen maanden heb ik hard gewerkt om aan alle eisen te kunnen voldoen, zodat de opvang van uw kostbaarste bezit veilig en vertrouwd kan plaatsvinden.
            </p>
        </div>
    </article>
</section>

<section id="post-135" class="post-134 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-new-work category-other-destinations">
    <article>
        <header class="entry-header">
            <h2 class="entry-title">
                Droom die uitkomt
            </h2>
        </header>

        <div class="entry-content clearfix">
            <p>
                Nog voordat ik begon met <strong>Gastouder Marjolein</strong> wilde ik niets liever dan werken met kinderen. Het doen van activiteiten en oppassen op kinderen zat er bij mij al vroeg in. En iedereen weet het, als je van je hobby je beroep maakt hoef je nooit meer te werken!
            </p>

            <p>
                Met de start van mijn onderneming is het een droom die uitkomt. <strong>Kleinschalige kinderopvang</strong> bij mij thuis.
            </p>
        </div>
    </article>
</section>