<hgroup id="site-logo" class="clearfix">
    <h1 id="site-title" class="brand">
        <a href="/" title="travelfly" rel="home">
            Gastouder Marjolein
        </a>
    </h1>

    <h2 id="site-description">Erkend gastouder in Dordrecht</h2>

</hgroup>