<div id="site-generator">
    <div class="container">
        <div class="copyright">
            Copyright © 2015 <strong>Gastouder Marjolein</strong> - Website & CMS door <strong>Stephan Grootveld</strong>
        </div>

        <div class="footer-right">
            <strong>Marjolein van Deventer</strong> is sinds 2015 erkend <strong>gastouder in Dordrecht</strong>.
        </div>
    </div>
</div>