<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>In ontwikkeling</h4>
                <p>
                    Op dit moment is de website van Marjolein van Deventer nog volop in ontwikkeling. Het kan daarom zijn dat nog niet alle informatie compleet is.
                </p>
            </div>

            <div class="col-lg-4">
                <h4>2016</h4>
                <p>
                    2016 gaan de deuren echt open, maar zorg dat u voor die tijd zeker bent van een plekje. Het aantal plekken is namelijk beperkt. Dus bent u zwanger of heeft u opvang nodig? Aarzel dan niet!
                </p>
            </div>

            <div class="col-lg-4">
                <h4>Warm welkom</h4>
                <p>
                    Bij Marjolein in Dordrecht is iedereen van harte welkom. De ouders en het kind zullen elke dag dat ze gebruik maken van de opvang kunnen genieten van een warm welkom!
                </p>
            </div>
        </div>

    </div>
</div>