{% extends "StefGastouderMarjoleinBundle::freelayout.html.twig" %}

{% block htmlbody %}

    <div class="container">
        <div class="row">
            <div class="index-slider">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item"><img src="/assets/img/slider/DSC00528.JPG" alt="The Last of us"></div>
                    <div class="item"><img src="/assets/img/slider/DSC00548.JPG" alt="The Last of us"></div>
                    <div class="item"><img src="/assets/img/slider/DSC00555.JPG" alt="The Last of us"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt">
        <div class="row mt">
            <div class="col-lg-12">
                <h1>{{ page.title }}</h1>
            </div>

            <div class="col-lg-12">
                <p>
                    De stad Dordrecht ontstond aan het riviertje de Thure te midden van veenmoerassen. De Thure was een zijtak van de rivier de Dubbel en liep ongeveer ter hoogte van het huidige Bagijnhof. De oorspronkelijke naam van Dordrecht is Thuredrith. Dit betekent "doorwaadbare plaats in de rivier Thure". Thuredrith zou in de loop der tijd veranderen in Dordrecht, is een van de meerdere naamsverklaringen.
                </p>

                <h2>Landschap</h2>
                <p>
                    De stad Dordrecht ligt in het zuiden van Zuid-Holland op het Eiland van Dordrecht, een gebied met een oppervlakte van ongeveer 9.000 ha dat in de huidige vorm is ontstaan door de Sint-Elisabethsvloed in 1421. Het gebied valt tegenwoordig geheel binnen de grenzen van de gemeente, die een totale oppervlakte heeft van 99,45 km².
                </p>

                <h2>Eiland</h2>
                <p>
                    Het stuk land van de plaats is gevestigd, is al sinds jaar en dag een eiland. Het wordt omringd door het water van de grote rivieren en belangrijke waterwegen: De <strong>Nieuwe Merwede</strong>, de <strong>Beneden-Merwede</strong>, de <strong>Oude Maas</strong>, het <strong>Hollands Diep</strong> en de <strong>Dordtsche Kil</strong>
                </p>

                <h2>Bereikbaarheid Dordrecht</h2>
                <p>
                    Het eiland is te bereiken middels de Moerdijkbrug (A16), de Killtunnel (N217), de tunnel onder de Oude Maas (A16, Zwijndrecht) en via de Noordtunnel (A15) kunt u de N3 de grote brug bij Papendrecht over. Behalve over de weg is de stad ook over het water goed te bereiken. Elk half uur gaat er vanuit Rotterdam een veer (de <strong>Waterbus</strong>) naar de stad.
                </p>
            </div>

        </div>

    </div>

{% endblock %}