{% extends "StefGastouderMarjoleinBundle::freelayout.html.twig" %}

{% block htmlbody %}

    <div class="container">
        <div class="row">
            <div class="index-slider">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item"><img src="/assets/img/slider/DSC00528.JPG" alt="The Last of us"></div>
                    <div class="item"><img src="/assets/img/slider/DSC00548.JPG" alt="The Last of us"></div>
                    <div class="item"><img src="/assets/img/slider/DSC00555.JPG" alt="The Last of us"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt">
        <div class="row mt">
            <div class="col-lg-12">
                <h1>{{ page.title }}</h1>
            </div>

            <div class="col-lg-12">
                <p>
                    Een van de wijken in <strong>Dordrecht</strong> is genaamd <strong>De Staart</strong>. Deze groene wijk is goed bereikbaar maar is een oase van rust en groen binnen een grote stad. Een unieke plaats om een onderneming te starten waar elke dag kinderen opgevangen kunnen worden.
                </p>

                <h2>Uitzicht op het Wantij</h2>
                <p>
                    Vanuit de opvanglocatie is er een mooi uitzicht op het Wantij en de prachtige groenstrook. Langs deze groenstrook loopt een mooi pad waar ik met de kinderen uit de opvang met onze hond kan lopen.
                </p>
            </div>

        </div>

    </div>

{% endblock %}