{% extends "StefGastouderMarjoleinBundle::freelayout.html.twig" %}

{% block htmlbody %}

    <div class="container">
        <div class="row">
            <div class="index-slider">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item"><img src="/assets/img/masthead/books.jpg" alt="The Last of us"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt">

        <div class="row mt">
            <div class="col-lg-12">
                <h1>{{ page.title }}</h1>
            </div>

            <div class="col-lg-12">
                <p>
                    In mijn jeugd heb ik regelmatig op kinderen gepast uit mijn omgeving. Omdat ik uit een groot gezin kom heb ik ook al vrij snel geleerd op op mijn jongere zusje te passen. Later, na mijn verhuizing naar Dordrecht, ben ik ook actief geweest als vrijwilleger bij de <a href="http://www.vakantiekinderfeesten.nl/">Ratjedoe speelweek</a> in Dordrecht. Ook heb ik mij ingezet op diverse vlakken bij het verzorgingshuis <a href="http://www.demerwelanden.nl/">de Merwelanden</a>.
                </p>
            </div>
        </div>

        <div class="row mt">
            <div class="col-lg-12">
                <h2>Personalia</h2>
                <ul>
                    <li>Adres: Haringvlietstraat 97, 3313 EB te Dordrecht</li>
                    <li>Geboren in 1990</li>
                    <li>info(monkeytail)gastoudermarjolein(dot)nl</li>
                    <li>Of neem contact op middels het <a href="/contact">contactformulier</a></li>
                </ul>
            </div>
        </div>

        <div class="row mt">
            <div class="col-lg-12">
                <h2>Opleidingen</h2>
                <ul>
                    <li>2015-2015 Rivor Gastouderroute - Rivor, thuistudie</li>
                    <li>2014-heden MBO Helpende Zorg en Welzijn - LOI, thuisstudie</li>
                    <li>2009-2012 MBO Bedrijfsadministratief medewerker - Da Vinci College, Dordrecht</li>
                    <li>2006-2008 HAVO - Calvijn College, Goes</li>
                    <li>2002-2006 VMBO - Calvijn College, Goes</li>
                </ul>
            </div>
        </div>

        <div class="row mt">
            <div class="col-lg-12">
                <h2>Diploma's & certificaten</h2>
                <ul>
                    <li>2015: Rivor Gastouderroute</li>
                    <li>2014: EHBO voor Kinderen (EHAK)</li>
                    <li>2012: MBO Bedrijfsadministratief medewerker</li>
                    <li>2006: VMBO</li>
                </ul>
            </div>
        </div>

    </div>

{% endblock %}