{% extends "StefGastouderMarjoleinBundle::freelayout.html.twig" %}

{% block htmlbody %}

    <div class="container">
        <div class="row">
            <div class="index-slider">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item"><img src="/assets/img/masthead/books.jpg" alt="The Last of us"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt">

        <div class="row mt">
            <div class="col-lg-12">
                <h1>{{ page.title }}</h1>
            </div>

            <div class="col-lg-12">
                <p>
                    In mijn jeugd heb ik regelmatig op kinderen gepast uit mijn omgeving. Omdat ik uit een groot gezin kom heb ik ook al vrij snel geleerd op op mijn jongere zusje te passen. Later, na mijn verhuizing naar Dordrecht, ben ik ook actief geweest als vrijwilleger bij de <a href="http://www.vakantiekinderfeesten.nl/">Ratjedoe speelweek</a> in Dordrecht. Ook heb ik mij ingezet op diverse vlakken bij het verzorgingshuis <a href="http://www.demerwelanden.nl/">de Merwelanden</a>.
                </p>
            </div>
        </div>

        <div class="row mt">
            <div class="col-lg-12">
                <h2>Diploma's</h2>
                <ul>
                    <li><strong>2015</strong> Helpende zorg & welzijn (specialisatie gastouder)</li>
                    <li><strong>2012</strong> Bedrijfsadministratief medewerker</li>
                </ul>
            </div>
        </div>

        <div class="row mt">
            <div class="col-lg-12">
                <h2>Cursussen</h2>
                <ul>
                    <li><strong>2015</strong> Meldcode huiselijk geweld & kindermishandeling</li>
                    <p>Door deze cursus ben ik op de hoogte van de te nemen stappen als ik het vermoeden heb van kindermishandeling of huiselijk geweld. Ook ben ik op de hoogte van verschillende signalen die kinderen in bepaalde situaties kunnen geven.</p>
                    <li><strong>2014</strong> Eerste hulp aan kinderen</li>
                    <p>Sinds augustus 2014 ben ik in het bezit van het EHAK certificaat. De cursus en het examen zijn verzorgd door een <strong>Oranje Kruis</strong> goedgekeurde vereniging.</p>
                </ul>
            </div>
        </div>

        <div class="row mt">
            <div class="col-lg-12">
                <h2>Vrijwillegerswerk</h2>
                <ul>
                    <li><strong>2013 - 2015</strong></li>
                    <p>Ik help al twee jaar mee bij de <strong>Ratje Doe weken in Dordrecht</strong>. Deze speelweek wordt elke zomer georganiseerd door de <strong>Stichting KinderVakantieFeesten</strong>. Twee weken lang vermaken kinderen zich met sport, spel en creatieve activiteiten. Ook heb ik hier mijn EHBO (EHAK) kennis in de praktijk kunnen brengen.</p>
                    <li><strong>2014</strong> Eerste hulp aan kinderen</li>
                    <p>Sinds augustus 2014 ben ik in het bezit van het EHAK certificaat. De cursus en het examen zijn verzorgd door een <strong>Oranje Kruis</strong> goedgekeurde vereniging.</p>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}