{% extends "StefGastouderMarjoleinBundle::freelayout.html.twig" %}

{% block htmlbody %}

    <div class="container">
        <div class="row">
            <div class="index-slider">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item"><img src="/assets/img/slider/DSC00528.JPG" alt="The Last of us"></div>
                    <div class="item"><img src="/assets/img/slider/DSC00548.JPG" alt="The Last of us"></div>
                    <div class="item"><img src="/assets/img/slider/DSC00555.JPG" alt="The Last of us"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt">
        <div class="row mt">
            <div class="col-lg-12">
                <h1>{{ page.title }}</h1>
            </div>

            <div class="col-lg-12">
                <p>
                    In 2013 zijn wij gaan wonen in onze woning aan de Haringvlietstraat in Dordrecht.
                    Hier wonen wij nog steeds met veel plezier.
                    Als uw kind bij mij in de opvang komt, kan het goed zijn dat ze naast mij (Marjolein) ook in contact komen met mijn verloofde (Stephan) en onze hond.
                    Daarom stel ik ook hen aan u voor.
                </p>
            </div>

        </div>

        <div class="row mt">
            <div class="col-lg-3">
                <img src="/assets/img/pages/gezin/marjolein.jpg" class="img-circle col-lg-12" alt="Cinque Terre">
            </div>

            <div class="col-lg-9">
                <h3>Marjolein van Deventer</h3>
                <p>
                    Uiteraard ben ik de hele dag aanwezig als er kinderen zijn. Ik ben geboren in het Zeeuwse Goes.
                    Sinds 2013 woon ik samen met mijn verloofde in Dordrecht. Sinds 2014 ben ik bezig om mijn droom waar te maken: Gastouder zijn. In de zomer van 2014 heb ik de cursus EHBO voor kinderen gehaald en zorg ik ervoor dat ik aan alle overige eisen kan voldoen.
                </p>

                <p>
                    Verder ben ik gediplomeerd. Bekijk daarom ook nog even mijn overzicht <a href="http://gastoudermarjolein.nl/curriculum-vitae">opleidingen en praktijkervaring</a>
                </p>
            </div>
        </div>

        <div class="row mt">
            <div class="col-lg-9">
                <h3>Stephan Grootveld</h3>
                <p>
                    Stephan is sinds 2011 mijn vriend en vanaf april 2014 zijn wij verloofd. Overdag is hij werkzaam als software ontwikkelaar en in de avonduren is hij vaak bezig met techniek.
                    Soms werkt hij hij vanuit huis en is dan te vinden in de studeerkamer. Wel zal hij meelunchen en is ook hij in het bezit van het EHAK certificaat.
                </p>
            </div>

            <div class="col-lg-3">
                <img src="/assets/img/pages/gezin/stephan.jpg" class="img-circle col-lg-12" alt="Cinque Terre">
            </div>
        </div>

        <div class="row mt">
            <div class="col-lg-3">
                <img src="/assets/img/pages/gezin/lieve.jpg" class="img-circle col-lg-12" alt="Cinque Terre">
            </div>

            <div class="col-lg-9">
                <h3>Lieve</h3>
                <p>
                    Lieve is ons huisdier. Ze is geboren in 2012 en is een hondje van ongeveer 50 centimeter lang en weegt ongeveer 6 kilo. Vanaf het begin is zij al met jonge kinderen in contact geweest, veel vrienden hebben intussen al een gezin en ze is erg geliefd bij ons neefje en nichtjes.
                </p>

                <p>
                    Omdat ze al zo veel in aanraking komt met kinderen, zal ze niet grommen of boos worden als kinderen net iets te hardhandig zijn in de omgang.
                </p>
            </div>
        </div>
    </div>

{% endblock %}