{% extends "StefGastouderMarjoleinBundle::freelayout.html.twig" %}

{% block htmlbody %}

    <div class="container">
        <div class="row">
            <div class="index-slider">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item"><img src="/assets/img/masthead/books.jpg" alt="The Last of us"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt">

        <div class="row mt">
            <div class="col-lg-12">
                <h1>{{ page.title }}</h1>
            </div>

            <div class="col-lg-12">
                <p>
                    Een goede tijdsplanning is belangrijk voor veel kinderen. Zij hebben vaak behoefte aan structuur en vaste momenten. Bij Gastouder Marjolein ben je ook op dat vlak bij het juiste adres!
                </p>

                <h2>Maatwerk</h2>
                <p>
                    Kleinschaligheid maakt maatwerk mogelijk. Met andere woorden, als het nodig is zijn er (uiteraard in goed overleg en binnen het redelijke) altijd afspraken te maken over het ritme dat het kind thuis heeft. Zeker bij zuigelingen is dit essentieel. Vraag gerust wat de mogelijkheden zijn voor een aanpassing op het schema, ik denk dat we er dan wel uit gaan komen.
                </p>
            </div>

        </div>

        <div class="row mt">
            <div class="col-lg-12">
                <h2>De tijdsplanning</h2>
            </div>

        </div>
        <div class="row mt">
            <div class="col-lg-3">
                <img src="/assets/img/pages/dagindeling/morning.JPG" class="img-circle col-lg-12" alt="Cinque Terre">
            </div>

            <div class="col-lg-9">
                <h3>In de ochtend</h3>
                <p>
                    De kinderen worden gebracht of indien ze hier overnacht hebben uit bed gehaald. Voor de vroege vogels is er ontbijt en zal ik de dag gaan opstarten. Tot half 10 kunnen de kinderen wakker worden en vrij spelen.

                    <ul>
                        <li><strong>09:30</strong>&nbsp;Drink moment met fruit</li>
                        <li><strong>10:00</strong>&nbsp;Verschonen & plassen</li>
                        <li><strong>10:30</strong>&nbsp;Gezamelijke activiteit of als het lekker weer is naar buiten</li>
                        <li><strong>11:45</strong>&nbsp;Verschonen & plassen</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="row mt">

            <div class="col-lg-9">
                <h3>In de middag</h3>
                <p>
                    Eten is belangrijk. Ik let daarom erg op de voeding die ik de kinderen tussen de middag aanbied. Ook is rust erg belangrijk en heb ik dit in mijn programma ingebouwd. Er is de mogelijkheid tot slapen of een rustige activiteit.

                <ul>
                    <li><strong>12:00</strong>&nbsp;Lunchen</li>
                    <li><strong>12:45</strong>&nbsp;Verschonen & plassen</li>
                    <li><strong>13:00</strong>&nbsp;Slapen. Met de kinderen die op blijven word een rustige activiteit gedaan</li>
                    <li><strong>15:00</strong>&nbsp;uit bed, verschonen, plassen.</li>
                    <li><strong>15:15</strong>&nbsp;Drink moment met koek of fruit</li>
                    <li><strong>15:30</strong>&nbsp;Waar mogelijk lekker naar buiten met de hond. Anders een knutsel activiteit binnen.</li>
                </ul>
                </p>
            </div>

            <div class="col-lg-3">
                <img src="/assets/img/pages/dagindeling/morning.JPG" class="img-circle col-lg-12" alt="Cinque Terre">
            </div>
        </div>

        <div class="row mt">

            <div class="col-lg-3">
                <img src="/assets/img/pages/dagindeling/morning.JPG" class="img-circle col-lg-12" alt="Cinque Terre">
            </div>

            <div class="col-lg-9">
                <h3>In de namiddag en avond</h3>
                <p>
                    Eten is belangrijk. Ik let daarom erg op de voeding die ik de kinderen tussen de middag aanbied. Ook is rust erg belangrijk en heb ik dit in mijn programma ingebouwd. Er is de mogelijkheid tot slapen of een rustige activiteit.

                <ul>
                    <li><strong>17:00</strong>&nbsp;Rond deze tijd worden de meeste kinderen opgehaald.</li>
                    <li><strong>17:15</strong>&nbsp;Verschonen & plassen</li>
                    <li><strong>17:30</strong>&nbsp;Voor de kinderen die zijn gebleven is avondeten</li>
                </ul>
                </p>
            </div>
        </div>

        <div class="row mt">

            <div class="col-lg-9">
                <h3>Naar bed</h3>
                <p>
                    Na het eten worden de kinderen die overnachten in bad gedaan en naar leeftijd in bed gelegd. Dit natuurlijk in overleg met u als ouder.
                </p>
            </div>

            <div class="col-lg-3">
                <img src="/assets/img/pages/dagindeling/morning.JPG" class="img-circle col-lg-12" alt="Cinque Terre">
            </div>
        </div>

        <div class="row mt">

            <div class="col-lg-12">
                <h2>Verschonen</h2>
                <p>
                    Het spreekt voor zich dat kinderen niet hoeven te wachten met een schone broek als zij op een ander moment een ongelukje hebben. De genoemde momenten zijn er zodat ik regelmatig een controlle kan doen bij alle kinderen. Vaak zijn deze momenten rond een activiteit, zodat de kans het grootste is dat deze niet hoeft worden afgebroken.
                </p>
            </div>
        </div>
    </div>

{% endblock %}