{% set showSlider = false %}

{% extends "StefGastouderMarjoleinBundle:Layouts:one-column-layout.html.twig" %}

{% block content %}

    <div class="container pt">
        <div class="row mt">
            <div class="col-lg-12">
                <h1>Nieuws</h1>
            </div>

            <div class="col-lg-12">
                <p>
                    Lees hier het laatste nieuws van <strong>Gastouder Marjolein</strong> en blijf op de hoogte van de laatste ontwikkelingen van mijn opvang!
                </p>

                <ul>
                    {% for news in newsitems %}
                        <li><a href="{{ path('stef_gastouder_marjolein_news_show', { 'slug': news.slug }) }}">{{ news.title|e }}</a></li>
                    {% endfor %}
                </ul>

            </div>

        </div>

    </div>
{% endblock %}
