<section id="post-134"
         class="post-134 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-new-work category-other-destinations">
    <article>


        <figure class="post-featured-image"><a
                    href="https://colorlib.com/travelfly/this-post-has-no-body/"
                    title="This post has no body – almost"><img width="670" height="300"
                                                                src="/travelfly/Spain-Plaza-de-Cibeles-Madrid-670x300.jpg"
                                                                class="attachment-featured wp-post-image"
                                                                alt="This post has no body – almost"
                                                                title="This post has no body – almost"
                                                                data-attachment-id="1139"
                                                                data-orig-file="https://cdn.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/Spain-Plaza-de-Cibeles-Madrid.jpg"
                                                                data-orig-size="1024,734"
                                                                data-comments-opened="1"
                                                                data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;CC \u2013 Attribution, Noncommercial, Share Alike&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}"
                                                                data-image-title="Spain-Plaza-de-Cibeles-Madrid"
                                                                data-image-description=""
                                                                data-medium-file="https://cdn3.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/Spain-Plaza-de-Cibeles-Madrid-300x215.jpg"
                                                                data-large-file="https://cdn.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/Spain-Plaza-de-Cibeles-Madrid.jpg"></a>
        </figure>
        <header class="entry-header">
            <h2 class="entry-title">
                <a href="https://colorlib.com/travelfly/this-post-has-no-body/"
                   title="This post has no body – almost">This post has no body – almost</a>
            </h2><!-- .entry-title -->
        </header>

        <div class="entry-content clearfix">
            <p>Cras leo tortor, condimentum id semper eu, sodales id elit. Maecenas commodo dolor
                vel massa gravida vehicula. Morbi tristique sapien ac dui tempus imperdiet.</p>
        </div>


        <div class="entry-meta-bar clearfix">
            <div class="entry-meta">
                                    <span class="byline"> <span class="author vcard"><a class="url fn n"
                                                                                        href="https://colorlib.com/travelfly/author/aigars-silkalns/">Aigars</a></span></span><span
                        class="posted-on"><a
                            href="https://colorlib.com/travelfly/this-post-has-no-body/"
                            rel="bookmark">
                        <time class="entry-date published" datetime="2015-03-05T09:39:56+00:00">5
                            March, 2015
                        </time>
                        <time class="updated" datetime="2015-10-17T09:46:21+00:00">17 October,
                            2015
                        </time>
                    </a></span> <span class="category"><a
                            href="https://colorlib.com/travelfly/category/new-work/"
                            rel="category tag">New York</a>, <a
                            href="https://colorlib.com/travelfly/category/other-destinations/"
                            rel="category tag">Other Destinations</a></span>
            </div>
            <!-- .entry-meta -->
            <a class="readmore" href="https://colorlib.com/travelfly/this-post-has-no-body/"
               title="This post has no body – almost">Read more</a></div>


    </article>
</section>