<section id="post-128"
         class="post-128 post type-post status-publish format-standard has-post-thumbnail hentry category-italy category-other-destinations">
    <article>


        <figure class="post-featured-image"><a href="https://colorlib.com/travelfly/images-test/"
                                               title="Contextual Images"><img width="670"
                                                                              height="300"
                                                                              src="/travelfly/featured-2-670x300.jpg"
                                                                              class="attachment-featured wp-post-image"
                                                                              alt="Contextual Images"
                                                                              title="Contextual Images"
                                                                              data-attachment-id="1202"
                                                                              data-orig-file="https://cdn1.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/03/featured-2.jpg"
                                                                              data-orig-size="1018,460"
                                                                              data-comments-opened="1"
                                                                              data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}"
                                                                              data-image-title="featured-2"
                                                                              data-image-description=""
                                                                              data-medium-file="https://cdn.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/03/featured-2-300x135.jpg"
                                                                              data-large-file="https://cdn1.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/03/featured-2.jpg"></a>
        </figure>
        <header class="entry-header">
            <h2 class="entry-title">
                <a href="https://colorlib.com/travelfly/images-test/" title="Contextual Images">Contextual
                    Images</a>
            </h2><!-- .entry-title -->
        </header>

        <div class="entry-content clearfix">
            <p>ALorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed odio nibh, tincidunt
                adipiscing, pretium nec, tincidunt id, enim. Fusce scelerisque nunc vitae nisl.
                Quisque quis urna in velit dictum pellentesque. Vivamus a quam.</p>
        </div>


        <div class="entry-meta-bar clearfix">
            <div class="entry-meta">
                                    <span class="byline"> <span class="author vcard"><a class="url fn n"
                                                                                        href="https://colorlib.com/travelfly/author/aigars-silkalns/">Aigars</a></span></span><span
                        class="posted-on"><a href="https://colorlib.com/travelfly/images-test/"
                                             rel="bookmark">
                        <time class="entry-date published" datetime="2015-03-03T09:35:23+00:00">3
                            March, 2015
                        </time>
                        <time class="updated" datetime="2015-10-17T09:46:05+00:00">17 October,
                            2015
                        </time>
                    </a></span> <span class="category"><a
                            href="https://colorlib.com/travelfly/category/italy/"
                            rel="category tag">Italy</a>, <a
                            href="https://colorlib.com/travelfly/category/other-destinations/"
                            rel="category tag">Other Destinations</a></span>
            </div>
            <!-- .entry-meta -->
            <a class="readmore" href="https://colorlib.com/travelfly/images-test/"
               title="Contextual Images">Read more</a></div>


    </article>
</section>