<section id="post-562"
         class="post-562 post type-post status-publish format-chat has-post-thumbnail hentry category-france category-other-destinations tag-post-formats post_format-post-format-chat">
    <article>


        <figure class="post-featured-image"><a
                    href="https://colorlib.com/travelfly/post-format-test-chat/"
                    title="Post Format Test: Chat – This article has so long title that it will wrap in new line"><img
                        width="670" height="300"
                        src="/travelfly/5877492285_f307c838c1_b-670x300.jpg"
                        class="attachment-featured wp-post-image"
                        alt="Post Format Test: Chat – This article has so long title that it will wrap in new line"
                        title="Post Format Test: Chat – This article has so long title that it will wrap in new line"
                        data-attachment-id="1057"
                        data-orig-file="https://cdn.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/5877492285_f307c838c1_b.jpg"
                        data-orig-size="1024,682" data-comments-opened="1"
                        data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}"
                        data-image-title="5877492285_f307c838c1_b" data-image-description=""
                        data-medium-file="https://cdn2.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/5877492285_f307c838c1_b-300x199.jpg"
                        data-large-file="https://cdn.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/5877492285_f307c838c1_b.jpg"></a>
        </figure>
        <header class="entry-header">
            <h2 class="entry-title">
                <a href="https://colorlib.com/travelfly/post-format-test-chat/"
                   title="Post Format Test: Chat – This article has so long title that it will wrap in new line">Post
                    Format Test: Chat – This article has so long title that it will wrap in new
                    line</a>
            </h2><!-- .entry-title -->
        </header>

        <div class="entry-content clearfix">
            <p>Nullam rhoncus eleifend ornare. Fusce vulputate neque in nisi vehicula vitae
                adipiscing tortor volutpat. Vivamus id leo et est tincidunt placerat. In laoreet
                purus vitae neque bibendum vel viverra urna accumsan. Nullam at lacus tincidunt
                tortor dictum vulputate a vitae nulla. Vivamus condimentum eleifend enim non
                ultricies. </p>
        </div>


        <div class="entry-meta-bar clearfix">
            <div class="entry-meta">
                                    <span class="byline"> <span class="author vcard"><a class="url fn n"
                                                                                        href="https://colorlib.com/travelfly/author/aigars-silkalns/">Aigars</a></span></span><span
                        class="posted-on"><a
                            href="https://colorlib.com/travelfly/post-format-test-chat/"
                            rel="bookmark">
                        <time class="entry-date published" datetime="2015-03-08T07:59:31+00:00">8
                            March, 2015
                        </time>
                        <time class="updated" datetime="2015-10-17T09:46:29+00:00">17 October,
                            2015
                        </time>
                    </a></span> <span class="category"><a
                            href="https://colorlib.com/travelfly/category/france/"
                            rel="category tag">France</a>, <a
                            href="https://colorlib.com/travelfly/category/other-destinations/"
                            rel="category tag">Other Destinations</a></span>
            </div>
            <!-- .entry-meta -->
            <a class="readmore" href="https://colorlib.com/travelfly/post-format-test-chat/"
               title="Post Format Test: Chat – This article has so long title that it will wrap in new line">Read
                more</a></div>


    </article>
</section>