<section id="post-555"
         class="post-555 post type-post status-publish format-gallery has-post-thumbnail hentry category-italy category-other-destinations tag-post-formats post_format-post-format-gallery">
    <article>


        <figure class="post-featured-image"><a
                    href="https://colorlib.com/travelfly/post-format-test-gallery/"
                    title="Post Format Test: Gallery"><img width="670" height="300"
                                                           src="/travelfly/spain-toledo-670x300.jpg"
                                                           class="attachment-featured wp-post-image"
                                                           alt="Post Format Test: Gallery"
                                                           title="Post Format Test: Gallery"
                                                           data-attachment-id="1140"
                                                           data-orig-file="https://cdn2.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/spain-toledo.jpg"
                                                           data-orig-size="1024,673"
                                                           data-comments-opened="1"
                                                           data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}"
                                                           data-image-title="spain-toledo"
                                                           data-image-description=""
                                                           data-medium-file="https://cdn.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/spain-toledo-300x197.jpg"
                                                           data-large-file="https://cdn2.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/spain-toledo.jpg"></a>
        </figure>
        <header class="entry-header">
            <h2 class="entry-title">
                <a href="https://colorlib.com/travelfly/post-format-test-gallery/"
                   title="Post Format Test: Gallery">Post Format Test: Gallery</a>
            </h2><!-- .entry-title -->
        </header>

        <div class="entry-content clearfix">
            <p>Nulla facilisi. Morbi eu neque massa. Phasellus nec rhoncus diam. Morbi elementum
                ligula quis magna tristique egestas. Donec nec eros nibh, id sollicitudin mi. Mauris
                eget lorem sed mauris lacinia adipiscing ut id ligula.</p>
        </div>


        <div class="entry-meta-bar clearfix">
            <div class="entry-meta">
                                    <span class="byline"> <span class="author vcard"><a class="url fn n"
                                                                                        href="https://colorlib.com/travelfly/author/aigars-silkalns/">Aigars</a></span></span><span
                        class="posted-on"><a
                            href="https://colorlib.com/travelfly/post-format-test-gallery/"
                            rel="bookmark">
                        <time class="entry-date published" datetime="2015-07-10T07:24:14+00:00">10
                            July, 2015
                        </time>
                        <time class="updated" datetime="2015-10-17T09:47:02+00:00">17 October,
                            2015
                        </time>
                    </a></span> <span class="category"><a
                            href="https://colorlib.com/travelfly/category/italy/"
                            rel="category tag">Italy</a>, <a
                            href="https://colorlib.com/travelfly/category/other-destinations/"
                            rel="category tag">Other Destinations</a></span>
            </div>
            <!-- .entry-meta -->
            <a class="readmore" href="https://colorlib.com/travelfly/post-format-test-gallery/"
               title="Post Format Test: Gallery">Read more</a></div>


    </article>
</section>