<section class="featured-slider">
    <div class="slider-cycle" style="width: 100%; height: 460px;">
        <div class="slides displayblock"
             style="position: absolute; top: 0px; left: 0px; display: block; z-index: 5; opacity: 1; width: 100%;">
            <figure><a href="https://colorlib.com/travelfly/layout-test/" title="Content Layout Preview"><img
                            width="1018" height="460"
                            src="/travelfly/spain6-1018x460.jpg"
                            class="pngfix wp-post-image" alt="Content Layout Preview"
                            title="Content Layout Preview" data-attachment-id="1146"
                            data-orig-file="https://cdn2.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/spain6.jpg"
                            data-orig-size="1018,480" data-comments-opened="1"
                            data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}"
                            data-image-title="spain6" data-image-description=""
                            data-medium-file="https://cdn2.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/spain6-300x141.jpg"
                            data-large-file="https://cdn2.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/spain6.jpg"></a>
            </figure>
            <article class="featured-text">
                <div class="featured-title"><a href="https://colorlib.com/travelfly/layout-test/"
                                               title="Content Layout Preview">Content Layout Preview</a></div>
                <!-- .featured-title -->
                <div class="featured-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed odio
                    nibh, tincidunt adipiscing, pretium nec, tincidunt id, enim. Fusce scelerisque nunc vitae
                    nisl. Quisque quis urna in velit dictum pellentesque.
                </div>
                <!-- .featured-content -->
            </article>
            <!-- .featured-text -->
        </div>
        <!-- .slides -->
        <div class="slides displaynone"
             style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; width: 100%; opacity: 0;">
            <figure><a href="https://colorlib.com/travelfly/post-format-test-audio/"
                       title="Design Simplicity Inspired by Nature"><img width="1018" height="460"
                                                                         src="/travelfly/featured-5.jpg"
                                                                         class="pngfix wp-post-image"
                                                                         alt="Design Simplicity Inspired by Nature"
                                                                         title="Design Simplicity Inspired by Nature"
                                                                         data-attachment-id="1214"
                                                                         data-orig-file="https://cdn3.colorlib.com/travelfly/wp-content/uploads/sites/4/2012/06/featured-5.jpg"
                                                                         data-orig-size="1018,460"
                                                                         data-comments-opened="1"
                                                                         data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;2010 Andrew Mace&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}"
                                                                         data-image-title="featured-5"
                                                                         data-image-description=""
                                                                         data-medium-file="https://cdn1.colorlib.com/travelfly/wp-content/uploads/sites/4/2012/06/featured-5-300x135.jpg"
                                                                         data-large-file="https://cdn3.colorlib.com/travelfly/wp-content/uploads/sites/4/2012/06/featured-5.jpg"></a>
            </figure>
            <article class="featured-text">
                <div class="featured-title"><a href="https://colorlib.com/travelfly/post-format-test-audio/"
                                               title="Design Simplicity Inspired by Nature">Design Simplicity
                        Inspired by Nature</a></div>
                <!-- .featured-title -->
                <div class="featured-content">This theme is better than most premium themes out there. Download
                    it and see yourself.
                </div>
                <!-- .featured-content -->
            </article>
            <!-- .featured-text -->
        </div>
        <!-- .slides -->
        <div class="slides displaynone"
             style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; width: 100%; opacity: 0;">
            <figure><a href="https://colorlib.com/travelfly/many-categories/"
                       title="Pixel perfection even for Retina Displays"><img width="1018" height="460"
                                                                              src="/travelfly/featured-4.jpg"
                                                                              class="pngfix wp-post-image"
                                                                              alt="Pixel perfection even for Retina Displays"
                                                                              title="Pixel perfection even for Retina Displays"
                                                                              data-attachment-id="1200"
                                                                              data-orig-file="https://cdn1.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/03/featured-4.jpg"
                                                                              data-orig-size="1018,460"
                                                                              data-comments-opened="1"
                                                                              data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}"
                                                                              data-image-title="featured-4"
                                                                              data-image-description=""
                                                                              data-medium-file="https://cdn1.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/03/featured-4-300x135.jpg"
                                                                              data-large-file="https://cdn1.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/03/featured-4.jpg"></a>
            </figure>
            <article class="featured-text">
                <div class="featured-title"><a href="https://colorlib.com/travelfly/many-categories/"
                                               title="Pixel perfection even for Retina Displays">Pixel
                        perfection even for Retina Displays</a></div>
                <!-- .featured-title -->
                <div class="featured-content">This post has far too many categories.</div>
                <!-- .featured-content -->
            </article>
            <!-- .featured-text -->
        </div>
        <!-- .slides -->
        <div class="slides displaynone"
             style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; width: 100%; opacity: 0;">
            <figure><a href="https://colorlib.com/travelfly/post-format-test-image-attached/"
                       title="This is the right theme for you. Period"><img width="1018" height="460"
                                                                            src="/travelfly/7148951717_9bbf185db3_h-1018x460.jpg"
                                                                            class="pngfix wp-post-image"
                                                                            alt="This is the right theme for you. Period"
                                                                            title="This is the right theme for you. Period"
                                                                            data-attachment-id="1078"
                                                                            data-orig-file="https://cdn.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/7148951717_9bbf185db3_h.jpg"
                                                                            data-orig-size="1200,800"
                                                                            data-comments-opened="1"
                                                                            data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}"
                                                                            data-image-title="7148951717_9bbf185db3_h"
                                                                            data-image-description=""
                                                                            data-medium-file="https://cdn1.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/7148951717_9bbf185db3_h-300x200.jpg"
                                                                            data-large-file="https://cdn2.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/7148951717_9bbf185db3_h-1024x682.jpg"></a>
            </figure>
            <article class="featured-text">
                <div class="featured-title"><a
                            href="https://colorlib.com/travelfly/post-format-test-image-attached/"
                            title="This is the right theme for you. Period">This is the right theme for you.
                        Period</a></div>
                <!-- .featured-title -->
                <div class="featured-content">This theme is for free and available via WordPress.org as well as
                    several other websites.
                </div>
                <!-- .featured-content -->
            </article>
            <!-- .featured-text -->
        </div>
        <!-- .slides --></div>
    <nav id="controllers" class="clearfix">
        <a href="https://colorlib.com/travelfly/#" class="active">1</a><a
                href="https://colorlib.com/travelfly/#" class="">2</a><a href="https://colorlib.com/travelfly/#"
                                                                         class="">3</a><a
                href="https://colorlib.com/travelfly/#" class="">4</a></nav>
</section>