<aside id="rpwe_widget-3" class="widget rpwe_widget recent-posts-extended"><h3 class="widget-title">
        Recent Posts</h3>

    <div class="rpwe-block ">
        <ul class="rpwe-ul">
            <li class="rpwe-li rpwe-clearfix"><a class="rpwe-img"
                                                 href="https://colorlib.com/travelfly/tiled-gallery-preview-for-travelfly-wordpress-theme/"
                                                 rel="bookmark"><img class="rpwe-alignleft rpwe-thumb"
                                                                     src="/travelfly/new-york-16-45x45.jpg"
                                                                     alt="Tiled Gallery Preview for travelfly WordPress Theme"></a>

                <h3 class="rpwe-title"><a
                            href="https://colorlib.com/travelfly/tiled-gallery-preview-for-travelfly-wordpress-theme/"
                            title="Permalink to Tiled Gallery Preview for travelfly WordPress Theme"
                            rel="bookmark">Tiled Gallery Preview for travelfly WordPress Theme</a></h3>
                <time class="rpwe-time published" datetime="2015-09-27T17:24:24+00:00">27 September,
                    2015
                </time>
            </li>
            <li class="rpwe-li rpwe-clearfix"><a class="rpwe-img"
                                                 href="https://colorlib.com/travelfly/soundcloud-preview/"
                                                 rel="bookmark"><img class="rpwe-alignleft rpwe-thumb"
                                                                     src="/travelfly/new-york-14-45x45.jpg"
                                                                     alt="SoundCloud Preview"></a>

                <h3 class="rpwe-title"><a href="https://colorlib.com/travelfly/soundcloud-preview/"
                                          title="Permalink to SoundCloud Preview" rel="bookmark">SoundCloud
                        Preview</a></h3>
                <time class="rpwe-time published" datetime="2015-07-29T07:31:25+00:00">29 July, 2015
                </time>
            </li>
            <li class="rpwe-li rpwe-clearfix"><a class="rpwe-img"
                                                 href="https://colorlib.com/travelfly/post-format-test-gallery/"
                                                 rel="bookmark"><img class="rpwe-alignleft rpwe-thumb"
                                                                     src="/travelfly/spain-toledo-45x45.jpg"
                                                                     alt="Post Format Test: Gallery"></a>

                <h3 class="rpwe-title"><a
                            href="https://colorlib.com/travelfly/post-format-test-gallery/"
                            title="Permalink to Post Format Test: Gallery" rel="bookmark">Post Format
                        Test: Gallery</a></h3>
                <time class="rpwe-time published" datetime="2015-07-10T07:24:14+00:00">10 July, 2015
                </time>
            </li>
            <li class="rpwe-li rpwe-clearfix"><a class="rpwe-img"
                                                 href="https://colorlib.com/travelfly/readability-test/"
                                                 rel="bookmark"><img class="rpwe-alignleft rpwe-thumb"
                                                                     src="/travelfly/new-york-11-45x45.jpg"
                                                                     alt="Amazing Readability Test"></a>

                <h3 class="rpwe-title"><a href="https://colorlib.com/travelfly/readability-test/"
                                          title="Permalink to Amazing Readability Test" rel="bookmark">Amazing
                        Readability Test</a></h3>
                <time class="rpwe-time published" datetime="2015-06-05T00:27:25+00:00">5 June, 2015
                </time>
            </li>
            <li class="rpwe-li rpwe-clearfix"><a class="rpwe-img"
                                                 href="https://colorlib.com/travelfly/layout-test/"
                                                 rel="bookmark"><img class="rpwe-alignleft rpwe-thumb"
                                                                     src="/travelfly/spain6-45x45.jpg"
                                                                     alt="Content Layout Preview"></a>

                <h3 class="rpwe-title"><a href="https://colorlib.com/travelfly/layout-test/"
                                          title="Permalink to Content Layout Preview" rel="bookmark">Content
                        Layout Preview</a></h3>
                <time class="rpwe-time published" datetime="2015-05-04T23:02:20+00:00">4 May, 2015
                </time>
            </li>
        </ul>
    </div>
</aside>