<aside id="search-2" class="widget widget_search">
    <form action="/travelfly/travelfly - Responsive WordPress Travel Theme Demo.html"
          class="searchform clearfix" method="get">
        <label class="assistive-text" for="s">Search</label>
        <input type="text" placeholder="Search" class="s field" name="s">
    </form>
</aside>