<hgroup id="site-logo" class="clearfix">
    <h1 id="site-title">
        <a href="/travelfly/travelfly - Responsive WordPress Travel Theme Demo.html"
           title="travelfly" rel="home">
            travelfly </a>
    </h1>

    <h2 id="site-description">Responsive WordPress Travel Theme Demo</h2>

</hgroup>