<div class="wp-pagenavi">
    <span class="pages">Page 1 of 3</span>
    <span class="current">1</span>
    <a class="page larger" href="https://colorlib.com/travelfly/page/2/">2</a>
    <a class="page larger" href="https://colorlib.com/travelfly/page/3/">3</a>
    <a class="nextpostslink" rel="next" href="https://colorlib.com/travelfly/page/2/">»</a>
</div>