<section id="post-358"
         class="post-358 post type-post status-publish format-standard has-post-thumbnail hentry category-new-work category-other-destinations tag-chattels tag-privation">
    <article>


        <figure class="post-featured-image"><a
                    href="https://colorlib.com/travelfly/readability-test/"
                    title="Amazing Readability Test"><img width="670" height="300"
                                                          src="/travelfly/new-york-11-670x300.jpg"
                                                          class="attachment-featured wp-post-image"
                                                          alt="Amazing Readability Test"
                                                          title="Amazing Readability Test"
                                                          data-attachment-id="1128"
                                                          data-orig-file="https://cdn.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/new-york-11.jpg"
                                                          data-orig-size="1024,602"
                                                          data-comments-opened="1"
                                                          data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;1293735767&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}"
                                                          data-image-title="new-york-11"
                                                          data-image-description=""
                                                          data-medium-file="https://cdn1.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/new-york-11-300x176.jpg"
                                                          data-large-file="https://cdn.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/new-york-11.jpg"></a>
        </figure>
        <header class="entry-header">
            <h2 class="entry-title">
                <a href="https://colorlib.com/travelfly/readability-test/"
                   title="Amazing Readability Test">Amazing Readability Test</a>
            </h2><!-- .entry-title -->
        </header>

        <div class="entry-content clearfix">
            <p>All children, except one, grow up. They soon know that they will grow up, and the way
                Wendy knew was this. One day when she was two years old she was playing in a garden,
                and she plucked another flower and ran with it to her mother.</p>
        </div>


        <div class="entry-meta-bar clearfix">
            <div class="entry-meta">
                                    <span class="byline"> <span class="author vcard"><a class="url fn n"
                                                                                        href="https://colorlib.com/travelflytravelfly/author/aigars-silkalns/">Aigars</a></span></span><span
                        class="posted-on"><a href="https://colorlib.com/travelfly/readability-test/"
                                             rel="bookmark">
                        <time class="entry-date published" datetime="2015-06-05T00:27:25+00:00">5
                            June, 2015
                        </time>
                        <time class="updated" datetime="2015-10-17T09:46:54+00:00">17 October,
                            2015
                        </time>
                    </a></span> <span class="category"><a
                            href="https://colorlib.com/travelfly/category/new-work/"
                            rel="category tag">New York</a>, <a
                            href="https://colorlib.com/travelfly/category/other-destinations/"
                            rel="category tag">Other Destinations</a></span>
                                    <span class="comments"><a
                                                href="https://colorlib.com/travelfly/readability-test/#comments">9
                                            Comments</a></span>
            </div>
            <!-- .entry-meta -->
            <a class="readmore" href="https://colorlib.com/travelfly/readability-test/"
               title="Amazing Readability Test">Read more</a></div>


    </article>
</section>