<section id="post-188"
         class="post-188 post type-post status-publish format-standard has-post-thumbnail hentry category-spain tag-tag1 tag-tag2 tag-tag3">
    <article>


        <figure class="post-featured-image"><a href="https://colorlib.com/travelfly/layout-test/"
                                               title="Content Layout Preview"><img width="670"
                                                                                   height="300"
                                                                                   src="/travelfly/spain6-670x300.jpg"
                                                                                   class="attachment-featured wp-post-image"
                                                                                   alt="Content Layout Preview"
                                                                                   title="Content Layout Preview"
                                                                                   data-attachment-id="1146"
                                                                                   data-orig-file="https://cdn2.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/spain6.jpg"
                                                                                   data-orig-size="1018,480"
                                                                                   data-comments-opened="1"
                                                                                   data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}"
                                                                                   data-image-title="spain6"
                                                                                   data-image-description=""
                                                                                   data-medium-file="https://cdn2.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/spain6-300x141.jpg"
                                                                                   data-large-file="https://cdn2.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/spain6.jpg"></a>
        </figure>
        <header class="entry-header">
            <h2 class="entry-title">
                <a href="https://colorlib.com/travelfly/layout-test/"
                   title="Content Layout Preview">Content Layout Preview</a>
            </h2><!-- .entry-title -->
        </header>

        <div class="entry-content clearfix">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed odio nibh, tincidunt
                adipiscing, pretium nec, tincidunt id, enim. Fusce scelerisque nunc vitae nisl.
                Quisque quis urna in velit dictum pellentesque. </p>
        </div>


        <div class="entry-meta-bar clearfix">
            <div class="entry-meta">
                                    <span class="byline"> <span class="author vcard"><a class="url fn n"
                                                                                        href="https://colorlib.com/travelfly/author/aigars-silkalns/">Aigars</a></span></span><span
                        class="posted-on"><a href="https://colorlib.com/travelfly/layout-test/"
                                             rel="bookmark">
                        <time class="entry-date published" datetime="2015-05-04T23:02:20+00:00">4
                            May, 2015
                        </time>
                        <time class="updated" datetime="2015-10-17T09:46:45+00:00">17 October,
                            2015
                        </time>
                    </a></span> <span class="category"><a
                            href="https://colorlib.com/travelfly/category/spain/"
                            rel="category tag">Spain</a></span>
            </div>
            <!-- .entry-meta -->
            <a class="readmore" href="https://colorlib.com/travelfly/layout-test/"
               title="Content Layout Preview">Read more</a></div>


    </article>
</section>