<section id="post-149"
         class="post-149 post type-post status-publish format-standard has-post-thumbnail hentry category-new-work">
    <article>


        <figure class="post-featured-image"><a href="https://colorlib.com/travelfly/comment-test/"
                                               title="Full  Nested Comment"><img width="670"
                                                                                 height="300"
                                                                                 src="/travelfly/new-york-19-670x300.jpg"
                                                                                 class="attachment-featured wp-post-image"
                                                                                 alt="Full  Nested Comment"
                                                                                 title="Full  Nested Comment"
                                                                                 data-attachment-id="1135"
                                                                                 data-orig-file="https://cdn1.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/new-york-19.jpg"
                                                                                 data-orig-size="1200,797"
                                                                                 data-comments-opened="1"
                                                                                 data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;2010 Andrew Mace&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}"
                                                                                 data-image-title="new-york-19"
                                                                                 data-image-description=""
                                                                                 data-medium-file="https://cdn1.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/new-york-19-300x199.jpg"
                                                                                 data-large-file="https://cdn.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/new-york-19-1024x680.jpg"></a>
        </figure>
        <header class="entry-header">
            <h2 class="entry-title">
                <a href="https://colorlib.com/travelfly/comment-test/" title="Full  Nested Comment">Full
                    Nested Comment</a>
            </h2><!-- .entry-title -->
        </header>

        <div class="entry-content clearfix">
            <p>Here’s a post with some comments.</p>
        </div>


        <div class="entry-meta-bar clearfix">
            <div class="entry-meta">
                                    <span class="byline"> <span class="author vcard"><a class="url fn n"
                                                                                        href="https://colorlib.com/travelfly/author/aigars-silkalns/">Aigars</a></span></span><span
                        class="posted-on"><a href="https://colorlib.com/travelfly/comment-test/"
                                             rel="bookmark">
                        <time class="entry-date published" datetime="2015-03-03T10:11:37+00:00">3
                            March, 2015
                        </time>
                        <time class="updated" datetime="2015-10-17T09:46:13+00:00">17 October,
                            2015
                        </time>
                    </a></span> <span class="category"><a
                            href="https://colorlib.com/travelfly/category/new-work/"
                            rel="category tag">New York</a></span>
                                    <span class="comments"><a
                                                href="https://colorlib.com/travelfly/comment-test/#comments">26
                                            Comments</a></span>
            </div>
            <!-- .entry-meta -->
            <a class="readmore" href="https://colorlib.com/travelfly/comment-test/"
               title="Full  Nested Comment">Read more</a></div>


    </article>
</section>