<section id="post-1435"
         class="post-1435 post type-post status-publish format-standard has-post-thumbnail hentry category-other">
    <article>


        <figure class="post-featured-image"><a
                    href="https://colorlib.com/travelfly/tiled-gallery-preview-for-travelfly-wordpress-theme/"
                    title="Tiled Gallery Preview for travelfly WordPress Theme"><img width="670"
                                                                                     height="300"
                                                                                     src="/travelfly/new-york-16-670x300.jpg"
                                                                                     class="attachment-featured wp-post-image"
                                                                                     alt="Tiled Gallery Preview for travelfly WordPress Theme"
                                                                                     title="Tiled Gallery Preview for travelfly WordPress Theme"
                                                                                     data-attachment-id="1132"
                                                                                     data-orig-file="https://cdn.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/new-york-16.jpg"
                                                                                     data-orig-size="900,599"
                                                                                     data-comments-opened="1"
                                                                                     data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;Philipp Klinger&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}"
                                                                                     data-image-title="new-york-16"
                                                                                     data-image-description=""
                                                                                     data-medium-file="https://cdn.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/new-york-16-300x199.jpg"
                                                                                     data-large-file="https://cdn.colorlib.com/travelfly/wp-content/uploads/sites/4/2013/05/new-york-16.jpg"></a>
        </figure>
        <header class="entry-header">
            <h2 class="entry-title">
                <a href="https://colorlib.com/travelfly/tiled-gallery-preview-for-travelfly-wordpress-theme/"
                   title="Tiled Gallery Preview for travelfly WordPress Theme">Tiled Gallery Preview
                    for travelfly WordPress Theme</a>
            </h2><!-- .entry-title -->
        </header>

        <div class="entry-content clearfix">
            <p>Cras leo tortor, condimentum id semper eu, sodales id elit. Maecenas commodo dolor
                vel massa gravida vehicula. Morbi tristique sapien ac dui tempus imperdiet.</p>
        </div>


        <div class="entry-meta-bar clearfix">
            <div class="entry-meta">
                                    <span class="byline"> <span class="author vcard"><a class="url fn n"
                                                                                        href="https://colorlib.com/travelfly/author/aigars-silkalns/">Aigars</a></span></span><span
                        class="posted-on"><a
                            href="https://colorlib.com/travelfly/tiled-gallery-preview-for-travelfly-wordpress-theme/"
                            rel="bookmark">
                        <time class="entry-date published" datetime="2015-09-27T17:24:24+00:00">27
                            September, 2015
                        </time>
                        <time class="updated" datetime="2015-10-17T09:47:26+00:00">17 October,
                            2015
                        </time>
                    </a></span> <span class="category"><a
                            href="https://colorlib.com/travelfly/category/other/"
                            rel="category tag">Other</a></span>
                                    <span class="comments"><a
                                                href="https://colorlib.com/travelfly/tiled-gallery-preview-for-travelfly-wordpress-theme/#comments">6
                                            Comments</a></span>
            </div>
            <!-- .entry-meta -->
            <a class="readmore"
               href="https://colorlib.com/travelfly/tiled-gallery-preview-for-travelfly-wordpress-theme/"
               title="Tiled Gallery Preview for travelfly WordPress Theme">Read more</a></div>


    </article>
</section>