<aside id="nav_menu-4" class="widget widget_nav_menu">
    <div class="menu-cool-container">
        <ul id="menu-cool-1" class="menu">
            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-964">
                <a href="/travelfly/travelfly - Responsive WordPress Travel Theme Demo.html">Home</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1257"><a
                        href="https://colorlib.com/wp/travelfly/">Download NOW!</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1244">
                <a href="https://colorlib.com/travelfly/blog/">Blog</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1256">
                        <a href="https://colorlib.com/travelfly/blog/">Blog Medium Images</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1255">
                        <a href="https://colorlib.com/travelfly/blog-large-image/">Blog Large Images</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1254">
                        <a href="https://colorlib.com/travelfly/blog-full-content/">Blog Full
                            Content</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-959"><a
                        href="https://colorlib.com/travelfly/category/new-work/">New York</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-958">
                <a href="https://colorlib.com/travelfly/category/other-destinations/">Other</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1316">
                        <a href="https://colorlib.com/travelfly/category/new-work/">New York</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1317">
                        <a href="https://colorlib.com/travelfly/category/spain/">Spain</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1318">
                        <a href="https://colorlib.com/travelfly/category/france/">France</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1319">
                        <a href="https://colorlib.com/travelfly/category/miami/">Miami</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1320">
                        <a href="https://colorlib.com/travelfly/category/italy/">Italy</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-960"><a
                        href="https://colorlib.com/travelfly/category/spain/">Spain</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-961"><a
                        href="https://colorlib.com/travelfly/category/france/">France</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-962"><a
                        href="https://colorlib.com/travelfly/category/italy/">Italy</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-963"><a
                        href="https://colorlib.com/travelfly/category/miami/">Miami</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1342"><a
                        title="WooCommerce Demo for travelfly Theme"
                        href="https://colorlib.com/travelfly/shop/">WooCommerce</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1042"><a
                        href="https://colorlib.com/travelfly/contact-us/">Contact us</a></li>
            <li class="default-menu"><a
                        href="/travelfly/travelfly - Responsive WordPress Travel Theme Demo.html"
                        title="Navigation">Navigation</a></li>
        </ul>
    </div>
</aside>