<aside id="categories-2" class="widget widget_categories"><h3 class="widget-title">Categories</h3>
    <ul>
        <li class="cat-item cat-item-3"><a
                    href="https://colorlib.com/travelfly/category/france/">France</a> (7)
        </li>
        <li class="cat-item cat-item-7"><a
                    href="https://colorlib.com/travelfly/category/italy/">Italy</a> (3)
        </li>
        <li class="cat-item cat-item-5"><a
                    href="https://colorlib.com/travelfly/category/miami/">Miami</a> (3)
        </li>
        <li class="cat-item cat-item-6"><a href="https://colorlib.com/travelfly/category/new-work/">New
                York</a> (12)
        </li>
        <li class="cat-item cat-item-1"><a
                    href="https://colorlib.com/travelfly/category/other/">Other</a> (2)
        </li>
        <li class="cat-item cat-item-2"><a
                    href="https://colorlib.com/travelfly/category/other-destinations/">Other
                Destinations</a> (14)
        </li>
        <li class="cat-item cat-item-4"><a
                    href="https://colorlib.com/travelfly/category/spain/">Spain</a> (9)
        </li>
    </ul>
</aside>